@each $key, $value in $colors {
  .text-#{$key} {
    color: $value;
  }

  .hover\:text-#{$key} {
    &:hover {
      color: $value;
    }
  }

  .bg-#{$key} {
    background-color: $value;
  }

  .hover\:bg-#{$key} {
    &:hover {
      background-color: $value;
    }
  }

  .border-#{$key} {
    border-color: $value;
  }

  .hover\:border-#{$key} {
    &:hover {
      border-color: $value;
    }
  }

  .decoration-#{$key} {
    text-decoration-color: $value;
  }

  .hover\:decoration-#{$key} {
    &:hover {
      text-decoration-color: $value;
    }
  }
}

.bg-transparent {
  background-color: transparent;
}

.hover\:bg-transparent {
  &:hover {
    background-color: transparent;
  }
}
