@use "sass:map";

@each $font in $fonts {
  .text-#{map.get($font, "label")} {
    font-size: map.get($font, "font");
    line-height: map.get($font, "line-height");
  }
}

@each $heading in $headings {
  .title-#{map.get($heading, "label")} {
    font-size: map.get($heading, "font");
    line-height: map.get($heading, "line-height");
  }
}

$decorations-style: solid, double, dotted, dashed, wavy;
$text-decorations: underline, overline, line-through, none;
$text-transformations: capitalize, lowercase, uppercase, none;

@each $item in $decorations-style {
  .decoration-#{$item} {
    text-decoration-style: $item;
  }
}

@each $decoration in $text-decorations {
  $class-name: $decoration;
  @if $decoration == "none" {
    $class-name: "no-underline";
  }
  .#{$class-name} {
    text-decoration: $decoration;
  }
}

@each $transform in $text-transformations {
  $class-name: $transform;
  @if $transform == "none" {
    $class-name: "normal-case";
  }
  .#{$class-name} {
    text-transform: $transform;
  }
}

$text-align: left, center, right, justify, start, end;
@each $item in $text-align {
  .text-#{$item} {
    text-align: $item;
  }
}

$text-wrap: wrap, nowrap, balance, pretty;
@each $item in $text-wrap {
  .text-#{$item} {
    text-wrap: $item;
  }
}

.italic {
  font-style: italic;
}

.non-italic {
  font-style: normal;
}

.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}
