@use "sass:string";
@use "sass:list";

// bootstrap like
.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
  flex-grow: 0;
}

.col-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
  flex-grow: 0;
}

.col-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
  flex-grow: 0;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
  flex-grow: 0;
}

.col-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
  flex-grow: 0;
}

.col-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
  flex-grow: 0;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
  flex-grow: 0;
}

.col-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
  flex-grow: 0;
}

.col-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
  flex-grow: 0;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
  flex-grow: 0;
}

.col-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
  flex-grow: 0;
}

// flex
.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-none {
  flex: none;
}

.grow {
  flex-grow: 1;
}
.grow-0 {
  flex-grow: 0;
}

.shrink {
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}

$directions: row, row-reverse, column, column-reverse;
@each $direction in $directions {
  .flex-#{$direction} {
    flex-direction: $direction;
  }
}

$wrap: wrap, wrap-reverse, nowrap;
@each $item in $wrap {
  .flex-#{$item} {
    flex-wrap: $item;
  }
}

$justify: center, normal, flex-start, flex-end, space-around, space-between,
  space-evenly, stretch;
@each $item in $justify {
  $has-space: string.index($item, "-");
  @if $has-space {
    $list-item: string.split($item, "-");
    .justify-#{list.nth($list-item, 2)} {
      justify-content: $item;
    }
  } @else {
    .justify-#{$item} {
      justify-content: $item;
    }
  }
}

$align-items: center, flex-start, flex-end, baseline, stretch;
@each $item in $align-items {
  .align-items-#{$item} {
    align-items: $item;
  }
}

$align-content: center, flex-start, flex-end, baseline, space-between,
  space-around;
@each $item in $align-content {
  .align-content-#{$item} {
    align-content: $item;
  }
}

@for $i from 1 through 12 {
  .order-#{$i} {
    order: $i;
  }
}
.order-first {
  order: -9999;
}
.order-last {
  order: 9999;
}
.order-none {
  order: 0;
}

// grid
// TODO: implement grid class util
